/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #fff;
  /*font-family: 'Neuton', serif;*/
  font: 13.34px Helvetica, Arial, sans-serif;
  /*font-size: small;*/
  text-align: left;

}

h1, h2, h3, h4, h5, h6 {
  /*font-size: 100%;*/ }

/*h1 { margin-bottom: 1em; }*/
p { margin: 1em 0; }

a{
  text-decoration: none;
}

/*****************************************************************************/
/*
/* Landing
/*
/*****************************************************************************/

.split {
  height: 100%;
  margin: 0 auto 0px; /* the bottom margin is the negative value of the footer's height */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #eeeeee;

}

.left{
  width: 50%;
  float: left;
  background-image:url("../images/gridme.png");
  height: 100%;
  text-align: right;
  color: #333333;
}
.right{
  width: 50%;
  background-color: #b20000;
  background:url(../images/red.jpg);
  background-size:cover;
  height: 100%;
  color: #eeeeee;
  float: left;


}

#rightbar {
  padding-left: 15px; 
  border-left-width:2px;
  border-left-color: white;
  border-top-color: white;
  border-left-style: solid;
}

#leftbar {
  padding-right: 15px;
  border-right-width:2px;
  border-right-color: #333333;
  border-top-color:#333333; 
  border-right-style: solid;
}

#leftbar, #rightbar {
  /*height :120px;*/
  height:10px;
  border-top-width: 2px;
  border-top-style: solid;
  margin-top: 15px;
}

.split h1{
  font-size: 100px;
  padding-top: 40%;
}

#rightbar, .right h1{
  margin-left: 10px;
}

#leftbar, .left h1{
  margin-right: 10px;
}

.split ul{
  font-size: 20pt;
  padding-top: 10px;
}

.split li {
  list-style-type: none;
  display: inline; 
  padding-bottom: 0;
  margin-bottom: 0;
}

.left a, .left a:visited{
  color:#333333;
}

.left a:hover{
  background: rgba(51, 51, 51, 0.6);}

.right a, .right a:visited{
  color:white;
}

.right a:hover{
  background: rgba(255, 255, 255, 0.6);

}

.left li {
  padding-left: 20px;
}

.right li{
  padding-right: 20px;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.title h1{
  font-size: 30px;
}
.title h2{
  font-size: 15px;
  padding-left: 5px;
  color:white;
}

.title ul{
  padding-left: 20px;
  padding-top: 20px;
  list-style: none;
  color: white;
}

.title li{
  padding-top: 10px;
}

.title a, .title a:visited{
  color:#333333;
}

.title a:hover{
  background: rgba(255, 255, 255, 0.6);
}

#section{
  font-size: 15px;
  padding-top: 25px;
}

.title{
  width:20%;
  float:left;
  padding-left:70px;
  padding-top:100px; 
  color: white;
}

.wrap{
  width:40%;
  padding-top: 150px;
  padding-left: 100px;
  float: left;
  color:white;
}

.wrap a, .wrap a:visited{
  color:#333333;
}

.wrap a:hover{
   background: rgba(255, 255, 255, 0.6);
}

.wrap ul{
    list-style: none;
}

span, .meta{
  font-family: monospace;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000000;
  background-color: #333333;
  color: #FFFFFF;
}

.post pre.terminal code {
  background-color: #333333;
}

.post{
  width: 640px;
  color:#333333;
  padding-bottom:75px;

}

.post img{
  padding-bottom: 0px;
}

.wrap a, .post a:visited{
  color:#333333;
}

.wrap a:hover{
   background: rgba(51, 51, 51, 0.6);
}




/*****************************************************************************/
/*
/* Footer
/*
/*****************************************************************************/


.footer {
  position: relative;
  height: 20px; /* .push must be the same height as .footer */
  bottom:0;
  width: 100%;
  padding: 0;
  border:0;
  text-align: right;
  right:7px;
}

.footer a, .footer a:visited{
  color:#c3c3c3;
}

.footer a:hover{
  color:333333;
}

.footer ul{
  list-style: none;
}

.footer li{
  display: inline;
}